# [awesome page on pivot table](https://pbpython.com/pandas-pivot-table-explained.html)

In [2]:
import pandas as pd
import numpy as np

users = pd.read_csv("data/movielens/users.dat", header=None, sep='::')
ratings = pd.read_csv("data/movielens/ratings.dat", header=None, sep='::')
movies = pd.read_csv("data/movielens/movies.dat", header=None, sep='::')

c:\users\user\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.
c:\users\user\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """
c:\users\user\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [4]:
# column names are in the readme file. bring em. smash em, stick em on a sheet

ratings_h = "UserID::MovieID::Rating::Timestamp"
users_h = 'UserID::Gender::Age::Occupation::Zip-code'
movies_h = 'MovieID::Title::Genres'

users.columns = users_h.split('::')
ratings.columns = ratings_h.split('::')
movies.columns = movies_h.split('::')

In [10]:
df = pd.merge(pd.merge(movies, ratings), users)
print(df.head(5))

# to get ratings by gender
df_fm = pd.pivot_table(df, index = ['MovieID','Title'], columns='Gender',values='Rating', aggfunc='mean')
print(df_fm.head(5))

   MovieID                                      Title  \
0        1                           Toy Story (1995)
1       48                          Pocahontas (1995)
2      150                           Apollo 13 (1995)
3      260  Star Wars: Episode IV - A New Hope (1977)
4      527                    Schindler's List (1993)

                                 Genres  UserID  Rating  Timestamp Gender  \
0           Animation|Children's|Comedy       1       5  978824268      F
1  Animation|Children's|Musical|Romance       1       5  978824351      F
2                                 Drama       1       5  978301777      F
3       Action|Adventure|Fantasy|Sci-Fi       1       4  978300760      F
4                             Drama|War       1       5  978824195      F

   Age  Occupation Zip-code
0    1          10    48067
1    1          10    48067
2    1          10    48067
3    1          10    48067
4    1          10    48067
Gender                                             F         M
MovieID Title
1       Toy Story (1995)                    4.187817  4.130552
2       Jumanji (1995)                      3.278409  3.175238
3       Grumpier Old Men (1995)             3.073529  2.994152
4       Waiting to Exhale (1995)            2.976471  2.482353
5       Father of the Bride Part II (1995)  3.212963  2.888298

In [11]:
# but I also want to know how many ratings were made
f = df_fm_counts = pd.pivot_table(df, index = ['MovieID','Title'], columns='Gender',values='Rating', aggfunc='count')
f.columns.get_level_values(0).unique()
f.columns=['F_count','M_count']

#pd.merge(df_fm,f) #not merge since it is joining on index
df_fmc = df_fm.join(f, how='outer')


df_fmc['diff'] = np.abs(df_fmc['F'] - df_fmc['M'])
df_fmc.sort_index(by='diff', ascending=False).head(5)
#this is garbage

c:\users\user\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  # This is added back by InteractiveShellApp.init_path()

,,F,M,F_count,M_count,diff
MovieID,Title,,,,,
682,Tigrero: A Film That Was Never Made (1994),1.0,4.333333,1.0,3.0,3.333333
687,Country Life (1994),5.0,2.000000,1.0,2.0,3.000000
3136,"James Dean Story, The (1957)",4.0,1.000000,2.0,1.0,3.000000
2823,"Spiders, The (Die Spinnen, 1. Teil: Der Goldene See) (1919)",4.0,1.000000,2.0,2.0,3.000000
138,"Neon Bible, The (1995)",1.0,4.000000,1.0,1.0,3.000000

In [0]:
# taking movies that got more than 50 ratings from female, at least
df_fm[df_fm['F_count']>=50].sort_index(by='diff', ascending=False).head(10)

# so there is not much gender difference on movie ratings, which kinda makes sense

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

                                                                   F  ...      diff
MovieID Title                                                         ...
1088    Dirty Dancing (1987)                                3.790378  ...  0.830782
1201    Good, The Bad and The Ugly, The (1966)              3.494949  ...  0.726351
203     To Wong Foo, Thanks for Everything! Julie Newma...  3.486842  ...  0.691567
2468    Jumpin' Jack Flash (1986)                           3.254717  ...  0.676359
506     Orlando (1993)                                      3.862745  ...  0.672269
613     Jane Eyre (1996)                                    3.839286  ...  0.646978
231     Dumb & Dumber (1994)                                2.697987  ...  0.638608
784     Cable Guy, The (1996)                               2.250000  ...  0.613787
1261    Evil Dead II (Dead By Dawn) (1987)                  3.297297  ...  0.611985
1380    Grease (1978)                                       3.975265  ...  0.608224

[10 rows x 5 columns]

In [14]:
#reviewing regex a bit

import re


df2 = df.copy()


def getyear(title):
  pat = re.compile('[(]\d*[)]')
  year = pat.findall(title)[0]
  #need year.islist() kind of line
  return year

def gettitle(title):
  title = title.split('(')[0]
  return title

df2['years'] = df2['Title'].apply(getyear)
df2['Title'] = df2['Title'].apply(gettitle)

df2.head(4)

# b = pat.search('3 rings (for) eleven kings') # searches until the first match
# #c = pat.findall('they are taking the hobbits to isengard')
# print(b)

,MovieID,Title,Genres,UserID,Rating,Timestamp,Gender,Age,Occupation,Zip-code,years
0,1,Toy Story,Animation|Children's|Comedy,1,5,978824268,F,1,10,48067,False
1,48,Pocahontas,Animation|Children's|Musical|Romance,1,5,978824351,F,1,10,48067,False
2,150,Apollo 13,Drama,1,5,978301777,F,1,10,48067,False
3,260,Star Wars: Episode IV - A New Hope,Action|Adventure|Fantasy|Sci-Fi,1,4,978300760,F,1,10,48067,False

# one hot encoding!

In [17]:
df3 = df.copy()

G_list = []
for i in range(df3.shape[0]):
  a = df3['Genres'][i].split('|')
  for j in a:
     if j not in G_list:
        G_list.append(j)

print (G_list)

# scratch this approach

['Animation', "Children's", 'Comedy', 'Musical', 'Romance', 'Drama', 'Action', 'Adventure', 'Fantasy', 'Sci-Fi', 'War', 'Crime', 'Thriller', 'Western', 'Horror', 'Mystery', 'Documentary', 'Film-Noir']

In [18]:
df4 = df3.loc[:,['Title', 'Genres']]

def divi(combi):
  return combi.split('|')

df4['Genres']=df4['Genres'].apply(divi)

df4.head(4)

,Title,Genres
0,Toy Story (1995),"[Animation, Children's, Comedy]"
1,Pocahontas (1995),"[Animation, Children's, Musical, Romance]"
2,Apollo 13 (1995),[Drama]
3,Star Wars: Episode IV - A New Hope (1977),"[Action, Adventure, Fantasy, Sci-Fi]"

In [19]:
from sklearn.preprocessing import MultiLabelBinarizer


df4 = df3.loc[:,['Title', 'Genres']]

def divi(combi):
  return combi.split('|')

df4['Genres']=df4['Genres'].apply(divi)


mlb = MultiLabelBinarizer()
df4 = df4.join(pd.DataFrame(mlb.fit_transform(df4.pop('Genres')),
                          columns=mlb.classes_, index=df4.index))
df4

,Title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Pocahontas (1995),0,0,1,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0
2,Apollo 13 (1995),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,Star Wars: Episode IV - A New Hope (1977),1,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0
4,Schindler's List (1993),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
5,"Secret Garden, The (1993)",0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
6,Aladdin (1992),0,0,1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
7,Snow White and the Seven Dwarfs (1937),0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
8,Beauty and the Beast (1991),0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
9,Fargo (1996),0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
10,James and the Giant Peach (1996),0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
11,Wallace & Gromit: The Best of Aardman Animatio...,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,"Close Shave, A (1995)",0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
13,"Hunchback of Notre Dame, The (1996)",0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
14,My Fair Lady (1964),0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
15,"Wizard of Oz, The (1939)",0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0
16,Gigi (1958),0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
17,Cinderella (1950),0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
18,Mary Poppins (1964),0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
19,Dumbo (1941),0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
20,"Sound of Music, The (1965)",0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
21,E.T. the Extra-Terrestrial (1982),0,0,0,1,0,0,0,1,1,0,0,0,0,0,1,0,0,0
22,One Flew Over the Cuckoo's Nest (1975),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
23,"Princess Bride, The (1987)",1,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
24,To Kill a Mockingbird (1962),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
25,Dead Poets Society (1989),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
26,Back to the Future (1985),0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
27,Ben-Hur (1959),1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
28,Ponette (1996),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
29,Hercules (1997),0,1,1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000179,"Thomas Crown Affair, The (1999)",1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1000180,Bowfinger (1999),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1000181,Mickey Blue Eyes (1999),0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
1000182,"Astronaut's Wife, The (1999)",0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
1000183,Stigmata (1999),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1000184,Stir of Echoes (1999),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1000185,American Beauty (1999),0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
1000186,Double Jeopardy (1999),1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1000187,Superstar (1999),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1000188,"Bone Collector, The (1999)",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1000189,"Messenger: The Story of Joan of Arc, The (1999)",0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
1000190,Sleepy Hollow (1999),0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
1000191,End of Days (1999),1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1000192,Toy Story 2 (1999),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1000193,"Talented Mr. Ripley, The (1999)",0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0
1000194,Next Friday (1999),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1000195,Scream 3 (2000),0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0
1000196,"Whole Nine Yards, The (2000)",0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
1000197,Reindeer Games (2000),1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1000198,Wonder Boys (2000),0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
1000199,Erin Brockovich (2000),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1000200,Final Destination (2000),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
1000201,High Fidelity (2000),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1000202,"Road to El Dorado, The (2000)",0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1000203,"Skulls, The (2000)",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1000204,Rules of Engagement (2000),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
1000205,American Psycho (2000),0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0
1000206,Keeping the Faith (2000),0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
1000207,U-571 (2000),1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1000208,Gladiator (2000),1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0